@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background-image: url(../public/Images/bg-cafe.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 /* background-color: black; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
