@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background-image: url(../public/Images/bg-cafe.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-color:#111315;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#cont{
  background-color: #1B1D1F;
  width: 1000px;
  margin-left: 250px;
}
